---
name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    steps:
      - uses: actions/checkout@v4.1.6

      - uses: hecrj/setup-rust-action@v2.0.1

      - uses: Swatinem/rust-cache@v2.7.3
        with:
          key: ${{ runner.os }}

      - run: cargo check

  check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.6
      - uses: hecrj/setup-rust-action@v2.0.1
        with:
          rust-version: stable
          components: rustfmt
      - run: cargo fmt -- --check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.6

      - uses: hecrj/setup-rust-action@v2.0.1
        with:
          rust-version: stable
          components: clippy

      - uses: Swatinem/rust-cache@v2.7.3
        with:
          key: lint

      - run: cargo clippy
